.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.selectedIngredients{
    display: flex;
    flex-wrap: wrap;
}