.all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.eachFood{
    border: solid #001848 2px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #604878;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    transition: background-color 0.3s;
}

.eachFood.selected{
  background-color: #d3ffd3; /* Color verde claro */
  color:black
}

.eachFood:hover{
    cursor: pointer;
    transform: scale(1.05);

}

.img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

  .name {
    text-align: center;
    margin-top: 5px;
  }
  