.all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.eachFood{
    border: solid #001848 2px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #604878;
}

.eachFood:hover{
    cursor: pointer;
    transform: scale(1.05);

}

.img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}