.nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.ul{    
    display: flex;
    justify-content: center;
    gap: 15px;
}

.list{
    list-style: none;
}

.btn{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #483078;
    border: solid #001848 2px;
    height: 20px;
    font-size: small;
    color: white;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}


.wellcome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}